---
import HeroSection from "../components/Hero-section.astro";
import Projects from "../components/Projects.astro";
import RecentPost from "../components/RecentPost.astro";
import Layout from "../layout/layout.astro";
import Scroll from "../components/Scroll.astro";
import AboutSection from "../components/AboutSection.astro";
import Divider from "../components/Divider.astro";
import Experience from "../components/Experience.astro";
---

<Layout>
  <section class="flex flex-col gap-8">
    <section id="home">
      <HeroSection />
    </section>
    <Scroll />
    <section id="about">
      <AboutSection/>
    </section>
    <Divider/>
    <section id="experience">
      <Experience/>
    </section>
  </section>
</Layout>
