---
import HeroSection from "../components/Hero-section.astro";
import Projects from "../components/Projects.astro";
import ProjectsCard from "../components/ProjectsCard.astro";
import RecentPost from "../components/RecentPost.astro";
import Layout from "../layout/layout.astro";
---

<Layout>
  <HeroSection />
  <section class="flex lg:flex-row flex-col gap-12 md:gap-0 justify-between">
    <section>
      <RecentPost />
      <span
        class="text-purple-700 text-xl px-3 cursor-pointer hover:bg-purple-950 rounded-lg"
      >
        Read More &rarr;
      </span>
    </section>
    <section class="flex flex-col gap-4">
      <Projects />
      <span
        class="text-purple-700 text-xl px-3 cursor-pointer hover:bg-purple-950 rounded-lg"
      >
        View More &rarr;
      </span>
    </section>
  </section>
</Layout>
