---
import HeroSection from "../components/Hero-section.astro";
import Projects from "../components/Projects.astro";
import RecentPost from "../components/RecentPost.astro";
import Layout from "../layout/layout.astro";
import Scroll from "../components/Scroll.astro";
---

<Layout>
  <section class="flex flex-col gap-8">
    <HeroSection />
    <Scroll />
    <RecentPost />
  </section>
</Layout>
