<section class="flex flex-col gap-8 my-10 md:py-16 px-2">
  <section class="flex flex-col gap-2 text-start">
    <h1 class="text-5xl font-bold">About Me</h1>
    <span class="text-lg text-gray-500 italic"
      >Your friendly neighborhood Software Engineer!</span
    >
  </section>
  <section class="text-lg text-gray-300 flex flex-col gap-8">
    <section class="flex flex-col gap-4">
      <span class="text-2xl font-semibold"> My superpowers? </span>
      <ol class="flex flex-col gap-2">
        <li>
          <span>
            Frontend: 
            <span>
              Using super tools like React, Vue, Angular, I make sure your experience
              is not just functional but delightful !
            </span>
          </span>
        </li>
        <li>
          <span>
            API Design/ Backend: Building bridges between systems.
          </span>
        </li>
        <li>
          <span>
            System Architecture: Laying down the blueprints for success.
          </span>
        </li>
      </ol>   
    </section>
    <p>
      I love solving real-world challenges with tech solutions and also having
      experience with cloud platforms and DevOps tools, I’m ready to wear my
      cape and save the day.<br />
    </p>
  </section>
  <p class="text-lg text-gray-300">
    If you're interested in collaborating or just want to chat, feel free to
    connect with me on
    <a
      href="https://www.linkedin.com/in/gaurav-kumar-karki-b65a9027a/"
      target="_blank"
      rel="noopener noreferrer"
      class="text-blue-500">LinkedIn</a
    > or check out my projects on
    <a
      href="https://github.com/gauravkumarkarki07"
      target="_blank"
      rel="noopener noreferrer"
      class="text-blue-500">GitHub</a
    >!
  </p>

  <span class="text-2xl italic">
    Hit me up !! Let’s create something amazing together!
  </span>
</section>
