<section class="flex flex-col gap-2 max-h-[200px] w-full px-2 py-2 hover:bg-gray-600/50 bg-gray-900 rounded-lg cursor-pointer">
    <h1 class="text-lg font-semibold">
        Notes on A Man Without a Country
    </h1>
    <span class="text-base text-gray-400">
        Aug 10, 2024 • 3 min • Reading
    </span>
    <p class="text-sm overflow-ellipsis overflow-hidden">
        A Man Without a Country is a collection of essays from author Kurt Vonnegut.
         It’s a short and informal read, like chatting with a friend over a cup of coffee, 
         a friend with uniquely lighthearted and thoughtful views
         A Man Without a Country is a collection of essays from author Kurt Vonnegut.
         It’s a short and informal read, like chatting with a friend over a cup of coffee, 
         a friend with uniquely lighthearted and thoughtful viewsA Man Without a Country is a collection of essays from author Kurt Vonnegut.
         It’s a short and informal read, like chatting with a friend over a cup of coffee, 
         a friend with uniquely lighthearted and thoughtful viewsA Man Without a Country is a collection of essays from author Kurt Vonnegut.
         It’s a short and informal read, like chatting with a friend over a cup of coffee, 
         a friend with uniquely lighthearted and thoughtful views
    </p>    
</section> 