---
import Image from '../../public/homepage.jpg';
---

<section class="flex flex-col gap-4 h-[380px] w-[380px] bg-white text-black hover:border-2 hover:border-purple-500">
    <img
        src={Image.src}
        class="w-full h-[280px] object-cover"
    />

    <h1 class="text-xl px-2 mx-2 overflow-hidden text-ellipsis">My First Blog</h1>
    <span class="mx-2 px-2 border my-2 py-2 w-fit rounded-2xl text-sm text-gray-500 border-gray-500">
        Personal
    </span>
</section>