<section class="flex items-center my-10">
    <div class="flex-grow h-[1px] bg-gray-500"></div>
    <span class="mx-4 text-xl text-gray-500">Keep Going</span>
    <div class="flex-grow h-[1px] bg-gray-500"></div>
</section>
