<section class="flex flex-col gap-4 my-10 md:py-16 px-2">
  <article class="flex flex-col gap-2">
    <h1 class="text-5xl">Experience</h1>
  </article>
  <!-- Experience -->
  <section class="flex flex-col gap-16">
    <!-- Experience 1 -->
    <div class="border-l-4 border-purple-500 pl-10">
      <h3 class="text-2xl font-semibold">Software Engineer</h3>
      <span class="text-lg text-gray-500 italic"
        >Outback Yak (July 2024 - Current)</span
      >
      <ul class="list-disc list-outside text-lg text-gray-300 mt-2">
        <li>
          Developed a real time resume builder web application, focusing on
          responsive design, API integration and optimal system design.
        </li>
        <li>
          Built a static and responsive site for Anatomedia’s educational
          platform using Astro, enhancing performance by reducing client-side
          JavaScript.
        </li>
        <li>
          Collaborated with the migration of applications to google cloud
          platform, enhancing efficiency and scalability.
        </li>
      </ul>
    </div>

    <!-- Experience 2 -->
    <div class="border-l-4 border-purple-500 pl-10">
      <h3 class="text-2xl font-semibold">Full Stack Web Developer</h3>
      <span class="text-lg text-gray-500 italic"
        >Learn Tech (March 2022 - February 2023)</span
      >
      <ul class="list-disc list-outside text-lg text-gray-300 mt-2">
        <li>
          Refactored existing web pages of Inventory module built on HTML, CSS
          to complete Blazor.
        </li>
        <li>
          Built microservices for core modules like inventory and billing.
        </li>
        <li>
          Developed and documented both the frontend and backend for Department
          module of the web application.
        </li>
      </ul>
    </div>

    <!-- Experience 3 -->
    <div class="border-l-4 border-purple-500 pl-10">
      <h3 class="text-2xl font-semibold">Junior Web Developer</h3>
      <span class="text-lg text-gray-500 italic"
        >Search Technology (November 2021 - February 2022)</span
      >
      <ul class="list-disc list-outside text-lg text-gray-300 mt-2">
        <li>
          Wrote efficient store procedures for the inventory module, optimizing
          query performance and reducing data processing time by 40%.
        </li>
        <li>
          Implemented CRUD operations for admin functionalities and admin
          related setup pages.
        </li>
        <li>
          Assisted with code review and troubleshooting, supporting a
          collaborative development environment.
        </li>
      </ul>
    </div>
  </section>
</section>
