<section class="flex flex-col gap-4 my-10 md:py-24 px-2">
  <article class="flex flex-col gap-2">
    <h1 class="text-5xl">Experience</h1>
    <span class="text-gray-500 text-lg italic"> asdasdasd </span>
  </article>
  <!-- Experience -->
  <section class="flex flex-col gap-12">
    <!-- Experience 1 -->
    <div class="border-l-4 border-blue-500 pl-4">
      <h3 class="text-2xl font-semibold">Software Engineer</h3>
      <span class="text-lg text-gray-500 italic"
        >Company Name - Jan 2022 to Present</span
      >
      <ul class="list-disc list-inside text-lg text-gray-300 mt-2">
        <li>
          Developed and maintained scalable web applications using React,
          Node.js, and .NET.
        </li>
        <li>
          Optimized performance for high-traffic applications, reducing load
          times by 30%.
        </li>
        <li>
          Collaborated with cross-functional teams to deliver projects on time
          and within budget.
        </li>
        <li>
          Led the migration of applications to cloud platforms, enhancing
          efficiency and scalability.
        </li>
      </ul>
    </div>

    <!-- Experience 2 -->
    <div class="border-l-4 border-blue-500 pl-4">
      <h3 class="text-2xl font-semibold">Frontend Developer</h3>
      <span class="text-lg text-gray-500 italic"
        >Previous Company - June 2020 to Dec 2021</span
      >
      <ul class="list-disc list-inside text-lg text-gray-300 mt-2">
        <li>
          Implemented responsive web designs using React and Bootstrap for
          user-centric applications.
        </li>
        <li>
          Collaborated with backend developers to design APIs that improved data
          flow between systems.
        </li>
        <li>
          Led UI/UX design improvements that increased user retention by 20%.
        </li>
      </ul>
    </div>

    <!-- Experience 3 -->
    <div class="border-l-4 border-blue-500 pl-4">
      <h3 class="text-2xl font-semibold">Junior Web Developer</h3>
      <span class="text-lg text-gray-500 italic"
        >First Company - Jan 2019 to May 2020</span
      >
      <ul class="list-disc list-inside text-lg text-gray-300 mt-2">
        <li>
          Developed dynamic web components using JavaScript, HTML5, and CSS3.
        </li>
        <li>
          Maintained internal websites and fixed bugs to ensure smooth
          performance.
        </li>
        <li>
          Worked closely with senior developers to improve my technical skills
          and contribute to team projects.
        </li>
      </ul>
    </div>
  </section>
</section>
