<section class="text-white py-8 px-4 mt-16">
    <div class="flex flex-col items-center justify-center space-y-4">
      <h2 class="text-3xl font-bold">Stay Awesome!</h2>
      <p class="text-center text-lg text-gray-400">
        Thanks for scrolling all the way down! Now you know more about me
    </p>
  
      <p class="text-sm text-gray-500 mt-4">
        Made by Gaurav Kumar Karki | © 2024
      </p>
  
      <div class="text-center mt-4">
        <a href="/#home" class="text-blue-500 hover:underline">
          Back to top ↑
        </a>
      </div>
    </div>
  </section>
  