---
 import Hero from '../../public/hero.svg'
 import linkedin from '../../public/linkedin.svg'
 import github from '../../public/github.svg'

---

<section class="flex flex-col-reverse md:flex-row gap-8 items-center md:h-[250px] h-[600px] mt-20 my-10 py-2">
    <section class="flex flex-col justify-between h-[500px] md:h-[250px] px-4 py-2">
        <article class="mt-6">
            <p class="flex flex-col text-6xl gap-2">
                <span>
                    Hi !
                </span>
                <span>
                    I'm Gaurav Kumar Karki. 
                </span>
                <span class="text-gray-400 pt-2 text-xl">
                    I am a Software Engineer and a Tech Enthusiast from Nepal.
                </span>
            </p>
        </article>
        <ul class="flex items-center gap-6 bottom-0 text-sm">
            <li>
                <span class="text-base">Follow me on:</span>
            </li>
            <li class="flex items-center gap-2 cursor-pointer hover:text-blue-500">
                <img
                    src={linkedin.src}
                    class="w-6 h-6 rounded-full object-fill overflow-clip filter invert"
                />
                <a href="https://www.linkedin.com/in/gaurav-kumar-karki-b65a9027a/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
            </li>
            <li class="flex items-center gap-2 hover:text-gray-400 cursor-pointer">
                <img
                    src={github.src}
                    class="w-4 h-4 rounded-full object-contain overflow-clip filter invert"
                />
                <a href="https://github.com/gauravkumarkarki07" target="_blank" rel="noopener noreferrer">Github</a>
            </li>
        </ul>
    </section>
    <section>
        <img
            src={Hero.src}
            class="h-[150px] w-auto hover:scale-125 transition-all duration-200 top-4"
        />
    </section>
</section>