---
import Menu from "../../public/menu.svg";
---

<section id="nav-menu" class="hidden md:block py-2 md:bg-gray-800/40 md:sticky md:top-2 backdrop-blur-xl z-100 px-2">
  <section class="flex flex-col gap-2 md:flex md:flex-row items-center justify-between py-2">
    <a
      class="text-xl cursor-pointer hover:text-purple-500 py-2"
      href="/"
    >
      Gaurav Kumar Karki
    </a>
    <nav class="flex md:flex-row flex-col items-center gap-4">
      <a href="/#home" class="hover:text-purple-500 nav-link">Home</a>
      <a href="/#about" class="hover:text-purple-500 text-nowrap nav-link">About Me</a>
      <a href="/#experience" class="hover:text-purple-500 text-nowrap nav-link">Experience</a>
      <a href="/blog" class="hover:text-purple-500 nav-link">Blogs</a>
    </nav>
  </section>
</section>
<img
  id="hamburger"
  src={Menu.src}
  class="w-8 h-8 cursor-pointer invert filter hover:scale-110 md:hidden absolute right-2 top-4"
  alt="Menu Icon"
/>

<script>
  document.getElementById("hamburger")?.addEventListener("click", function () {
    const navMenu = document.getElementById("nav-menu");
    navMenu?.classList.toggle("hidden");
  });

  function setActiveLink() {
    const currentHash = window.location.hash;
    const links = document.querySelectorAll('.nav-link');
    console.log('Current Hash:', currentHash);

    links.forEach(link => {
      link.classList.remove('text-purple-500');
      console.log('Link HREF:', link.getAttribute('href'));

      const href = link.getAttribute('href')?.replace(/^\//, '');
      console.log("Normalize",href)
      if (href === currentHash) {
        link.classList.add('text-purple-500'); 
        return;
      }
      if(window.location.pathname === link.getAttribute('href')){
        link.classList.add('text-purple-500'); 
        return;
      }
    });
  }

  window.addEventListener('load',setActiveLink);

  window.addEventListener('hashchange',setActiveLink);

</script>
