<section class="flex justify-between items-center font-semibold my-8">
    <h1 class="text-xl hover:text-purple-500 cursor-pointer">Gaurav Kumar Karki</h1>
    <nav class="flex items-center gap-4">
        <a href="/" class="hover:text-purple-500">Home</a>
        <a href="/" class="hover:text-purple-500">Projects</a>
        <a href="/" class="hover:text-purple-500">Work Experience</a>
        <a href="/" class="hover:text-purple-500">Blogs</a>
    </nav>
</section>