---
import ProjectsCard from "./ProjectsCard.astro";
---

<section class="flex flex-col gap-4 w-full lg:w-[350px] px-2 py-2">
    <h1 class="text-3xl">
        Projects
    </h1>
    <section class="flex flex-col gap-4">
        <ProjectsCard/>
        <ProjectsCard/>
    </section>
</section> 