---
import BlogPostCard from "./BlogPostCard.astro";
---

<section class="lg:w-[550px] h-[500px] flex flex-col gap-4 px-2 py-2 text-justify">
    <h1 class="text-2xl px-2">RECENT POSTS</h1>
    <section class="flex flex-col gap-4">
        <BlogPostCard/>
        <BlogPostCard/>
    </section>
</section>