---
const {text="Scroll"}=Astro.props;
---
<section class="flex flex-col items-start px-4">
  <section class="flex flex-col items-center gap-4">
    <span class="text-xl text-gray-500">{text}</span>
    <span class="h-[200px] w-[1px] bg-gray-500"> </span>
  </section>
</section>
